img{
	max-width: 100%;
}
.gallery{
	background-color:  #dbbdf1;
	padding: 80px 0;
}

.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
.gallery-item{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

#gallery-modal .modal-img{
width: 100%;	
}